.stat-container {
  background-image: url("../../../images/footer.jpg");
  background-repeat: no-repeat;
  box-shadow: inset 100vw 100vh rgba(134, 128, 128, 0.748);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.stat-check-icon-container {
  display: inline-block;
  width: 75px;
  height: 75px;
  transform: rotate(45deg);
  background-color: white;
  transition: transform 1s;
}

.stat-check-icon-container:hover {
  transform: scale(1);
  transform: rotate(0deg);
}

.stat-check-icon {
  transform: rotate(-45deg);
  color: #a42340;
  width: 20px;
  height: 20px;
}

.stat-number {
  font-size: 38px;
}

.stat-info {
  background-color: #073892;
}

.stat-container-row{
  width: 90vw;
  margin:auto;
}

@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
